modules = ["cpp-clang20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run DSA"

[[workflows.workflow]]
name = "Run DSA"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -std=c++17 DSA/Trees/BinaryTree/Problems/LeftRightViewOfBT.cpp -o fibo_bin && ./fibo_bin"
